<section id="block">
  <section id="payement">
<%= form_tag "/admin/update_cate", method: "patch" do %>
<h2> Ajouter une estimation</h2>
  <input type="hidden" name="id" value="<%= @category.id %>">
  <input type="string" name="name" placeholder="name" value="<%= @category.name%>"/>
  <select name="sub_id">
    <% @cate.each do |category| %>
      <option value="<%= category.id %>" <% if category.id == @category.sub_id%> selected="selected"<%end%>><%= category.name %></option>
    <% end %>
<input type="submit" value="Edit" id="add_button">
<% end %>
  </section>
</section>