<section id="login">
  <div type="hidden" id="error_msg" style="display:none"><%= flash[:test]%></div>

  <script type="text/javascript">
    var err = document.getElementById("error_msg");

  if (err.textContent.length > 0)
    alert(err.textContent);

  </script>
<center><h2> Modifier la commande</h2></center>
<% if Info.find(params[:id]).state == "Nouveau"%>
  <%= form_tag "/admin/commande/update/#{params[:id]}", method: "patch" do %>
    <%if Info.find(params[:id]).state == "Nouveau" %>
      <%@pro = Pro.all%>
      <select name="pro" >
        <%@pro.each do |pro| %>
          <% if pro.state == 1 || pro.state == nil%>
            <option value=<%= pro.id %>><%=pro.nom + " " + pro.prenom %></option>
          <% end %>
        <% end %>
      </select>
  <input type="submit" value="Edit" id="add_button">
  <% end %>
  <% end %>
<% end %>

<%if Info.find(params[:id]).state == "En cours" %>
  <%= form_tag "/admin/commande/check_out/#{params[:id]}", method: "patch" do %>
    <input type="number" name="total" value=<%=Info.find(params[:id]).total %> placeholder="total"/>
    <input type="submit" value="check_out" id="add_button">
  <% end %>
<% end %>

<%= button_to "Delete", "/admin/commande/delete/#{params[:id]}", {:id => "add_button", :method => "delete"}%>
</section>
