<section id="dashboard">
    <div id="div_dashboard">
    <nav class="dashboard" tabindex="0">
        <div class="smartphone-menu-trigger"></div>
        <ul>
        <li tabindex="0" class="icon-dashboard" onclick="OpenTabs('table-dashboard')"><span>Dashboard</span></li>
        <li tabindex="0" class="icon-commande" onclick="OpenTabs('table-commande')"><span>Commande</span></li>
        <li tabindex="0" class="icon-users" onclick="OpenTabs('table-users')"><span>Utilisateurs</span></li>
        <li tabindex="0" class="icon-pro" onclick="OpenTabs('table-pro')"><span>Professionnels</span></li>
        <li tabindex="0" class="icon-edit" onclick="OpenTabs('table-edit')"><span>Edit</span></li>
      </ul>
    </nav>
    </div>
    <div id="div-table">
        <table class="tabs" id="table-commande">
            <tr>
             <th>Client</th>
             <th>Commande</th>
             <th>Wallet</th>
             <th>Pro</th>
             <th>Total payé</th>
             <th>Status</th>
            </tr>
                <%@users.each do |user|%>
            <tr>
             <td><%= link_to user.mail, "/admin/commande/edit/#{user.id}"%></td>
             <td><%= get_name_product(user.id_prod)%></td>
             <td><%= get_wallet_value(user.mail)%></td>
             <td><%= get_name_pro(user.id_pro)%></td>
             <td><%= user.total%></td>
             <td><%= user.state %></td>
            </tr>
                <%end%>
        </table>
        <table class="tabs" id="table-users">
        </table>
        <table class="tabs" id="table-pro">
            <tr>
                <th>Nom</th>
                <th>Mail</th>
                <th>Entreprise</th>
                <th>Téléphone</th>
                <th>Profession</th>
            </tr>
            <%@pro.each do |pro|%>
            <tr>
                <td><%=pro.nom + " " + pro.prenom%></td>
                <td><%=pro.mail%></td>
                <%if pro.nom_entreprise == nil%>
                <td>Aucune</td>
                <%else%>
                <td><%=pro.nom_entreprise%></td>
                <%end%>
                <td><%=pro.telephone%></td>
                <td><%=pro.cate%></td>
            </tr>
            <%end%>
        </table>
        <table class="tabs" id="table-edit">
            <tr>
                <th></th>
            </tr>
        </table>
    </div>
</section>
<script>
function OpenDefault(tab){
    var def;
    alert(tab);
    def = document.getElementById(tab);
    def.style.display = "block";
}
function OpenTabs(tabs) {
    var i;
    var tab;
    var classe;
    i = 0;
    tab = document.getElementById(tabs);
    classe = document.getElementsByClassName('tabs');
    while (i < classe.length)
    {
        classe[i].style.display = "none";
        i = i + 1;
    }
    tab.style.display = "table";
}
</script>
