<!-- Delog ---->
  <a href="/admin/delog" >Deconnexion</a>

<!--- Add site ---->
<section id="formulaire">
  <section id="add">
    <h1> Ajouter une estimation</h1>
    <%= form_tag "/admin/add_site", method: "post" do %>
      <p><input type="string" name="title" placeholder="title"/></br></p>
      <p><input type="string" name="link" placeholder="link"/></br></p>
      <p><input type="string" name="image" placeholder="image"/></br></p>
      <p><input type="integer" name="min_price" placeholder="min_price"/></br></p>
      <p><input type="integer" name="max_price" placeholder="max_price"/></br></p>
      <p><input type="string" name="time" placeholder="time"/></br></p>
      <p><input type="text" name="def" placeholder="def"/></br></p>
      <p><select name="category_id">
        <% @category.each do |category| %>
          <option value="<%= category.id %>"><%= category.name %></option>
        <% end %>
    <input type="submit" value="Ajouter" id="add_button">
    <% end %></p>

<!--- Delete site ---->
<h1> Delete Estimation </h1>
    <%= form_tag "/admin/delete_site", method: "delete" do %>
        <p><select name="sub_id">
        <% @site.each do |site| %>
          <option value="<%= site.id %>"><%= site.title %></option>
        <% end %>
      <input type="submit" value="Delete" id="add_button">
    <% end %></p>

<!--- Edit site ---->
<h1>Edit Estimation</h1>
    <%= form_tag "/admin/edit_site", method: "post" do %>
        <p><select name="id">
        <% @site.each do |site| %>
          <option value="<%= site.id %>"><%= site.title %></option>
        <% end %>
      <input type="submit" value="Edit" id="add_button">
    <% end %></p>
  </section>

  <section id="add">
<!--- Add category ---->
    <h1> Ajouter une Catégorie</h1></br>
    <%= form_tag "/admin/add_cate", method: "post" do %>
      <p><input type="string" name="name" placeholder="name"/></br></p>
      <p><select name="sub_id">
        <% @category.each do |category| %>
          <option value="<%= category.id %>"><%= category.name %></option>
        <% end %>
      <input type="submit" value="Ajouter" id="add_button">
    <% end %></p>

<!--- Delete category ---->
    <h1>Delete Catégorie/Sous-Catégorie </h1>
    <%= form_tag "/admin/delete_cate", method: "delete" do %>
        <p><select name="sub_id">
        <% @category.each do |category| %>
          <option value="<%= category.id %>"><%= category.name %></option>
        <% end %>
      <input type="submit" value="Delete" id="add_button">
    <% end %></p>

<!--- Edit category ---->
<h1>Edit Catégorie/Sous-Catégorie </h1>
<%= form_tag "/admin/edit_cate", method: "post" do %>
    <p><select name="id">
    <% @category.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  <input type="submit" value="Edit" id="add_button">
<% end %></p>
  </section>
</section>
