<!-- Formulaire -->

<section id="formulaire">


<!-- Gauche -->

  <section id="gauche">

    <div>

      <h2> Lieu de l </h2>
      
      <%= form_tag "formulaire/:id", method: "post" do %>

        <p>
          <label for="adresse">Adresse*</label> <br/>
          <input type="text" name="adresse" placeholder="4 rue du Général Vauban">
        </p>

        <p>
          <label for="postal">Code postal*</label> <br/>
          <input type="text" name="postal" placeholder="75014">
        </p>

        <p>
          <label for="etage">Interphone/Digicode/Étage</label> <br/>
          <input type="text" name="etage" placeholder="75014">
        </p>

      <% end %>

      <br/>

      <h2> Vos info </h2>

      <%= form_tag "formulaire/:id", method: "post" do %>

        <p>
          <label for="prenom">Prénom*</label> <br/>
          <input type="text" name="prenom" placeholder="Hubert">
        </p>

        <p>
          <label for="nom">Nom*</label> <br/>
          <input type="text" name="nom" placeholder="Dupont">
        </p>

        <p>
          <label for="mail">Adresse email*</label> <br/>
          <input type="email" name="mail" placeholder="arnold.dupont@gmail.com">
        </p>

        <p>
          <label for="tel">Téléphone</label> <br/>
          <input type="tel" name="tel" placeholder="0612345678">
        </p>

      <% end %>
      
      <div class="asterix">
      <p>
        * Les champs qui comportent une image doivent être remplis
      </p>
    </div>

    </div>

  </section>

<!-- Droite -->

  <section id="droite">

    <div>

      <h1> LE TUYAU DE VOTRE LAVE LINGE / LAVE VAISELLE FUIT </h2>

      <h2> Commander un dépanneur </h2>

      <p> Disposez vous d'un code promo ? </p>

      <form method="post" action="formulaire/:id">

        <p class="promo" >
          <label for="promo">Code promo</label> <br/>
          <input type="text" name="promo" id="promo" placeholder="Code promo">
        </p>

    <div class="check"
      <form>
        <p>
          <input type="checkbox" name="promo"> J'accepte les : <br/>
          <%= link_to "Conditions générales d'utilisation" %>
        </form>

        <form>
          <p>
            <input type="checkbox" name="promo"> J'accepte les : <br/>
            <%= link_to "Dispositions relatives aux droits de rétractation" %>
        </form>
    </div>

      	<div class="search"><%= link_to "PASSER COMMANDE", 'portail' %></div>

      </div>

      </section>
</section>
