
<!--Le Bandeau-->


			<section id="bandeau">

				<h1>TROUVER UN DÉPANNEUR FIABLE <br/> EST ENFIN DEVENU SIMPLE</h1>
				<div class="bandeau"><%= image_tag "Homepage.jpg", alt: "Homepage", title: "homepage" %> </div>
				<div class="search"><%= link_to "TROUVER UN DÉPANNEUR", 'portail' %></div>

			</section>





<!--Les Etapes-->


			<section id="etape123">
				<ol>
					<li class="etape">
						<p class="img"> <%= image_tag "check.png", alt: "Etape 1", title: "Etape 1" %></p>
						<h4>Étape 1</h4>Décrivez votre problème</li>

					<li class="etape">
						<p class="img"> <%= image_tag "euro.png", alt:"Etapes 2", title:"Etape 2" %></p>
						<h4>Étape 2</h4>Obtenez une estimation du prix</li>

					<li class="etape">
						<p class="img"> <%= image_tag "casque.png", alt: "Etape 3", title: "Etape 3" %></p>
						<h4>Étape 3</h4>Un dépanneur vous rappelle dans les 20 minutes</li>
				</ol>
			</section>





<!--Les dirigeants-->


			<section id="dirigeants">
				<h2>Les dirigeants</h2>

				<div class="dirigeants">
					<div>
						<p class="img2"><%= image_tag "Armand.jpg", alt: "Armand Obadia" %></p>
						<p class="dessous" >Armand l'artiste numérique</p>
					</div>

					<div>
						<p class="img2"><%= image_tag "Michk.jpg", alt: "Michel Estaben" %></p>
						<p class="dessous" >Michel le bricoleur numérique</p>
					</div>
				</div>

			</section>




<!--Notre Histoire-->


			<section id="Histoire">
				<div class="Histoire" >
					<h2>Notre Histoire</h2>
				</div>

				<div class="dessin" >
					<%= image_tag "Histoire-v3.jpg" %>
				</div>
			</section>
