<!--Le Portail -->

            <nav class="portail">

                <h1>

                    De quoi avez-vous besoin ?

                </h1>

                <p> Obtenez votre devis en moins d'une minute </p>

                <div id="dessin">

                    <div class="carton">

                          <%= link_to image_tag("Plombier.jpg"), "PLOMBERIE" %>

                        <h2 class="dessous"> <%= link_to "PLOMBERIE", 'PLOMBERIE' %> </h2>

                    </div>

                    <div class="carton">

            <%= link_to image_tag("Serrurier.jpg"), "SERRURERIE" %>

                        <h2 class="dessous"> <%= link_to "SERRURERIE", 'SERRURERIE' %> </h2>

                    </div>

                    <div class="carton">

                          <%= link_to image_tag("Electricien.jpg"), "ÉLECTRICITÉ" %>

                        <h2 class="dessous"> <%= link_to "ÉLECTRICITÉ", 'ÉLECTRICITÉ' %> </h2>

                    </div>

                    <div class="carton">

                          <%= link_to image_tag("Chauffagiste.jpg"), "CHAUFFAGE" %>

                        <h2 class="dessous"> <%= link_to "CHAUFFAGE", 'CHAUFFAGE' %> </h2>

                    </div>

                    <div class="carton">

                          <%= link_to image_tag("Vitrier.jpg"), "VITRERIE" %>

                        <h2 class="dessous"> <%= link_to "VITRERIE", 'VITRERIE' %> </h2>

                    </div>

                </div>

            </nav>

        </div>
