<section id="body">
  <div id="estimation">
    <div class="resume">
      <%= image_tag @page.image %>
      <div class="info">
    <h1> <%= @page.title %> </h1>
    <div class="prix">
      <p class="left"> PRIX DE L'INTERVENTION </p>
      <p class="right"> ENTRE <%= @page.min_price %> et <%= @page.max_price %> € </p>
    </div>
    <div class="prix">
      <p class="left" > TEMPS DE L'INTERVENTION </p>
      <p class="right"> <%= @page.time %> </p>
    </div>
    <p>
      Un de nos artisans vous rappellera dans les 20 minutes pour fixer un rdv avec vous. Une fois sur place, il vous fera un devis définitif que vous serez libre d'accepter ou non. Si vous n'acceptez pas le devis, aucun frais bancaire ne vous sera prélevé.
    </p>
    <div class="bouton" >
      <a href="/formulaire/<%= @page.id%>">COMMANDER</a>
    </div>
      </div>
    </div>
  </div>
  <div id="description">
    <h2> <%= @page.title %></h2>
   <%= nl2br(@page.def).html_safe %>
  </div>
</section>
