<!--Estimation des prix-->


			<section id="body">
				<div id="estimation">
					<div class="resume">
						<%= @page.image %>
						<div class="info">
							<h1> <%= @page.title %> </h1>
							<div class="prix">
								<h3 class="left"> PRIX DE L'INTERVENTION <span>____..____</span> </h3>
								<h3 class="right"> ENTRE <%= @page.min_price %> et <%= @page.max_price %> € </h3>
							</div>

							<div class="prix">
									<h3 class="left" > TEMPS DE L'INERVENTION <span>__--__</span> </h3>
									<h3 class="right"> <%= @page.time %> </h3>
							</div>
							<p>
								Un de nos plombiers te rappellera dans les 20 minutes pour fixer un rdv avec toi. Une fois sur place, il te fera un devis définitif que tu seras libre d'accepter ou non. Si tu n'acceptes pas le devis, aucun frais bancaire ne te sera prélevé.
							</p>
							<div class="bouton" >
								<a href="/formulaire/<%= @page.id%>">COMMANDER</a>
							</div>
						</div>
					</div>
				</div>

				<div id="description">

					<H2> NOTRE ANALYSE</H2>

					<h4> <%= @page.title %></h4>

					<%= @page.def %>

			</section>
