<!DOCTYPE html>
<html lang="fr" >
  <head>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= favicon_link_tag(source='Fixrunners-logo.png') %>
    <title>Fixrunners - Trouve un dépanneur fiable</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!--Header-->
      <header class="header">
        <div class="logo">
          <%= link_to image_tag("FR-blanc.png", class: "fix_run"), "/index" %>
        </div>
        <div class="head">
          <a id="hamburger-icon" href="#" title="Menu">
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
          </a>
          </div>
          <!--<a id="header_menu" class="McButton" data="hamburger-menu">-->
        <!--<b></b>
        <b></b>
        <b></b>
        </a>-->
        <nav class="menu">
        <div class="contain_menu">
          <div class="co">
            <% if session[:user_id] != nil %>
            <%= link_to "DECONNEXION", '/admin/delog' %>
            <% end %>
          </div>
          <div class="depann">
            <%= link_to "TROUVER UN DÉPANNEUR", '/portail' %>
          </div>
          <div class="onglet">
            <%= link_to "PLOMBERIE", '/PLOMBERIE' %>
            <%= link_to "SERRURERIE", '/SERRURERIE' %>
            <%= link_to "ÉLECTRICITÉ", '/ÉLECTRICITÉ' %>
            <%= link_to "CHAUFFAGE", '/CHAUFFAGE' %>
            <%= link_to "VITRERIE", '/VITRERIE' %>
          </div>
          <div class="foot">
            <%= link_to "INSCRIPTION PRO", '/inscription/pro'%>
            <%= link_to "MENTIONS LÉGALES", '/cgu' %>
            <%= link_to "CONTACTS", '/contacts' %>
            <%= link_to "À PROPOS", '/a_propos' %>
          </div>
        </div>
        </nav>
      </header>
    <div class="cache" id="cache"></div>
    <%= yield %>
    <footer>
      <nav class="footer">
        <section class="logo">
          <div id="logo">
            <%= image_tag("gear.png") %>
          </div>
          <p>© Maneo SAS</p>
        </section>
        <div id= "footer-end">
          <p><%= link_to "Conditions générales et confidentialité", '#' %></p>
          <p><%= link_to "Plan du site", '/plan' %></p>
          <div class="icons">
            <p><%= link_to image_tag("fb-bleu.png", class: "fb"), "/index" %></p>
            <p><%= link_to image_tag("tweeter-bleu.png", class: "tw"), "/index" %></p>
            <p><%= link_to image_tag("pinterest-bleu.png", class: "pi"), "/index" %></p>
          </div>
        </div>
      </nav>
    </footer>
    <script>

      $( document ).ready(function() {
      var hamburger = $('#hamburger-icon');
      hamburger.click(function() {
      hamburger.toggleClass('active');
      return false;
        });
      });

      (function($){
      $('#hamburger-icon').click(function(e){
      e.preventDefault();
      $('body').toggleClass('sidebar');
        });
       $('#cache').click(function(e){
         $('body').removeClass('sidebar');
         $('#hamburger-icon').toggleClass("active");
       });

      })(jQuery);
    </script>
  </body>
</html>
