<!DOCTYPE html>
<html lang="fr" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Fixrunners - Trouve un dépanneur fiable</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!--Header-->
      <header class="header">
        <div class="logo">
          <%= link_to image_tag("Fixrunners.png", class: "fix_run"), "/index" %>
        </div>
        <div class="head">
          <a id="hamburger-icon" href="#" title="Menu">
          <span class="line line-1"></span>
          <span class="line line-2"></span>
          <span class="line line-3"></span>
          </a>
          </div>
          <!--<a id="header_menu" class="McButton" data="hamburger-menu">-->
        <!--<b></b>
        <b></b>
        <b></b>
        </a>-->
        <nav class="menu">
        <div class="contain_menu">
          <div class="co">
            <%= link_to "CONNEXION", '#' %>
          </div>
          <div class="depann">
            <%= link_to "TROUVER UN DÉPANNEUR", '/portail' %>
          </div>
          <div class="onglet">
            <%= link_to "PLOMBERIE", '/PLOMBERIE' %>
            <%= link_to "SERRURERIE", '/SERRURERIE' %>
            <%= link_to "ÉLECTRICITÉ", '/ÉLECTRICITÉ' %>
            <%= link_to "CHAUFFAGE", '/CHAUFFAGE' %>
            <%= link_to "VITRERIE", '/VITRERIE' %>
          </div>
          <div class="foot">
            <%= link_to "inscription pro", '/inscription/pro'%>
            <%= link_to "MENTIONS LÉGALES", '#' %>
            <%= link_to "CONTACTS", '#' %>
            <%= link_to "À PROPOS", '#' %>
            <%= link_to "F.A.Q", '#' %>
          </div>
        </div>
        </nav>
      </header>
    <div class="cache" id="cache"></div>
    <%= yield %>
    <footer>
      <nav>
        <ul id= "footer">
          <li><%= link_to "MENTIONS LÉGALES", '#' %></li>
          <li><%= link_to "CONTACTS", '#' %></li>
          <li><%= link_to "À PROPOS", '#' %></li>
          <li><%= link_to "F.A.Q", '#' %></li>
          <li><%= link_to "BLOG", '#' %></li>
        </ul>
      </nav>
    </footer>
    <script>

      $( document ).ready(function() {
      var hamburger = $('#hamburger-icon');
      hamburger.click(function() {
      hamburger.toggleClass('active');
      return false;
        });
      });

      (function($){
      $('#hamburger-icon').click(function(e){
      e.preventDefault();
      $('body').toggleClass('sidebar');
        });
       $('#cache').click(function(e){
         $('body').removeClass('sidebar');
         $('#hamburger-icon').toggleClass("active");
       });

      })(jQuery);
    </script>
  </body>
</html>
